<div class="container pl-5">
  <div class="text-center mt-5 mb-3"><h5><strong><%= flash[:notice] %></strong></h5></div>
  <div class="border-bottom" style="background-color: #ffffe5;">
    <h2><%= @post.title %></h2>
  </div>
</div>