<div class="container-fluid" style="background-color: #f9fffc;">
  <div class="row">
     <div class="col-md-12">
      <div class="px-5 mx-auto ml-auto container" style="text-align: center;">
        <%= image_tag 'about.jpg', style: "max-width: 85%; margin: 70px; display: inline-block;" %>
      </div>
    </div>
  </div>
</div>