<div style="background-color: #f9fffc;">
  <div class="container px-5 text-center mx-auto">
    <div class="row">
      <div class="px-5 mx-auto ml-auto">
          <h1 style="font-size: 6em; margin-bottom: 0.3em;">About</h1>
          <p style="font-size: 1.5em;">
            このサイトは、現場で働く管理栄養士・栄養士・調理師の皆様が、<br>
            お互いに情報を共有して助け合えるサイトです。<br>
            献立や食育のマンネリ化を防ぐために活用していただければと存じます。<br>
            また、業務中の疑問などもお互いに質問・回答し合うこともできます。<br>
            お互いに助け合いながら、有意義にお使いいただければ幸いです。
          </p>
          <%= image_tag 'medical_eiyoushi.jpg', style: "width: 50%; height: auto;" %>
      </div>
    </div>
  </div>
</div>