<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active text-center" style="background-color: #f5b2ac; border-color: #f8f9fa;">
    <i class="fas fa-search"></i>  ジャンル検索
  </a>
  <%= link_to 'すべて', posts_path, class: 'list-group-item list-group-item-action text-center', style: 'font-size: 1.2em;' %>
    <% genres.each do |genre|%>
      <%= link_to genre.name, posts_path(genre_id: genre.id, genre_name: genre.name), class: "list-group-item list-group-item-action text-center", style: 'font-size: 1.2em;' %>
    <% end %>
</div>


