<div class="container-fluid" style="background-color: #f9fffc;">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/genres/genre_list', genres: @genres %>
    </div>
    <div class="col-md-9">
      <div class="border-bottom" style="background-color: #ffffe5;">
      <h2>お気に入り一覧　<span class="badge badge-pill badge-secondary">全<%= @likes_posts.count %>件</span></h2></h2>
    </div>
    
    <div class="d-md-flex flex-wrap justify-content-center">
      <% @likes_posts.each do |post|%>
       <%= render partial: 'public/posts/post_list', locals: {post: post, likes: @likes} %>
      <% end %>  
    </div>
  
    <div id="paginate-warpper" class="d-md-flex flex-wrap justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>