/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.navbar {
  display: flex;
  background-color: #ffb54d;
  padding: 10px;
  color: #fff;
}

.navbar img{
  width: 180px;
  height: 100px;
  margin: 0 ;
}


ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  flex-grow: 1;
  margin-right: 15px; 
}

li a:hover {
  text-decoration: none;
  color: #696969;
}

.search {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px 0 0;
}

.sm {
  display: none;
}

.footer {
  background-color: #ffb54d;
  padding: 10px;
}

.admin_log_link {
  text-align: right;
  margin-right: 30px;
  margin-top: 5px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer_text {
  color: #fff;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  
  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }
  
  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    transition: ease 0.75s;
  }
  
  .icon span:nth-of-type(1) {
    top: 16px;
  }
  
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }
  
  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }
  
  .close span:nth-of-type(2) {
    opacity: 0;
  }
  
  .close span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
  }
  
  .sm {
    top: 60px;
    left: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 181, 77, 0.7)
  }
  
  ul {
    flex-direction: column;
  }
  
  li {
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
    padding: 5px 0;
  }
  
  .search {
    display: flex; 
    justify-content: center; 
    margin: 0 auto;
    padding: 10px 0;
  }
  
  
}