/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  background-color: #fff;
}

.navbar {
  display: flex;
  background-color: #ffb54d;
  padding: 10px;
  color: #fff;
}

.navbar img{
  width: 150px;
  height: 80px;
  margin: 0 ;
}


ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  flex-grow: 1;
  margin-right: 15px;
}

li a:hover {
  text-decoration: none;
  color: #696969;
}

.search {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px 0 0;
}

.sm {
  display: none;
}

.sm-index {
  display: none;
}

.list-group {
  position: sticky;
  width: 170px;
  height: 400px;
  top: 150px;
  margin: 50px 20px 0 20px;
  z-index: 999;
}

.top-image {
  display: flex; 
  justify-content: center;
}


.post-index-title {
  background-color: #ffffe5;
  margin-top: 50px;
}

.post_information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}

.posts-detail {
  margin-top: 50px;
  margin-left: 50px;
}

.posts-detail-title {
  background-color: #ffffe5;
}

.posted_detail_image {
  text-align: center;
  margin-bottom: 20px;
}

#comments_area {
  margin-top: 50px;
}

.footer {
  background-color: #ffb54d;
  padding: 10px;
}

.admin_log_link {
  display: flex;
  text-align: right;
  margin-right: 30px;
  margin-top: 5px;
}

.admin_log_link a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  flex-grow: 1;
  margin-right: 15px;
}

.admin_log_link a:hover {
  text-decoration: none;
  color: #696969;
}

.footer_text {
  color: #fff;
  text-align: center;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.about_image {
  text-align: center;
  margin: 0 auto;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1.25rem;
  margin-top: 15px;
}




@media screen and (max-width: 1024px) {
  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }

  .icon span:nth-of-type(2) {
    top: 28px;
  }

  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
  }

  .sm {
    top: 60px;
    left: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: rgba(255, 181, 77, 0.9)
  }
  
  .sm-index {
    display: block;
  }
  
  .list-group-item {
    background-color: #fff9f4;
  }

  ul {
    flex-direction: column;
  }

  li {
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
    padding: 5px 0;
  }

  .search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
  }

  .container-fluid {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .post_information {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4px;
  }

  .sm-genre {
    display: none;
  }

}