<div class="footer">
  <div class="admin_log_link">
    <%= link_to admin_session_path do %>
      <i class="fas fa-sign-in-alt"></i> 管理者ログイン
    <% end %>
  </div>
  <p class="footer_text">© All Rights reserved.</p>
</div>
