<div class="container-fluid border-top border-5 mt-auto" style="background-color: #ffb54d; padding: 10px;">
  <div class="text-right">
    <%= link_to admin_session_path, class: "text-decoration-none text-light h6" do %>
      <i class="fas fa-sign-in-alt"></i> 管理者ログイン
    <% end %>
  </div>

  <p class="text-center text-light">© All Rights reserved.</p>
</div>
